//- mixin list(id, ...items)
//-   ul(id=id)
//-     each item in items
//-       li= item

//- +list('my-list', 1, 2, 3, 4)

mixin welcomeCard(id, lable, title, subtitle, copy, footnote, )
    .cardWrapper(id=id)
        div(class="nav card-nav")
            .close-icon
                include ../icons/close.svg
            lable= lable
        .card-content
            div
                .card-content-image
                    h1= title
                    include ../icons/coffee.svg
                h2= subtitle
                p= copy
                small= footnote

